html,
body {
  width: 100%;
  height: auto;
}

/* This must go a part from the html,body style, otherwise it would overlap 
the element and would not be visible */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
}

.paperStack {
  position: relative;
  width: 70%;
  height: auto;
  margin-top: 20pt;
  margin-bottom: 20pt;
  background: #eee;
  padding: 10pt;
}
.paperStack,
.paperStack::before,
.paperStack::after {
  border: 1px solid;
  /* Items of a box-shadow.:
        - 2px: X or width shift
        - 4px: Y or height shift
        - 5px: blur radius
        - 0.5px: spread radius
        - rgba: color  */
  -webkit-box-shadow: 2px 4px 5px 0.5px #979797;
  -moz-box-shadow: 2px 4px 5px 0.5px #979797;
  box-shadow: 2px 4px 5px 0.5px #979797;
}

.paperStack::before,
.paperStack::after {
  position: absolute;
  content: "";
  background: #eee;
  width: 99%;
  height: 95%;
}

.paperStack::before {
  z-index: -1;
  top: 0;
  right: 15px;
  transform: rotate(-1deg);
}

.paperStack::after {
  z-index: -2;
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
}

#content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: minmax(1fr,180px) minmax(1fr,180px) minmax(1fr,180px) minmax(1fr,180px) minmax(1fr,180px) minmax(1fr,180px);
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  row-gap: 10pt;
}

.full-row {
  width: 100%;
  height: 100%;
}

#intro {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 4fr;
  justify-items: left;
  align-items: center;
  column-gap: 20pt;
}

/* #intro-image {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: white;
} */

#intro-image{
  width: 100%;
  height: auto;
  border-radius: 20px;
  /* max-height: 168.190px;
  max-width: 263.992px; */
}

#intro-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
